################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NUnitDemonstration/FileContentIndex/059abe96-8c40-4b71-bd40-70dad0c0e2e3.vsidx
/.vs/NUnitDemonstration/FileContentIndex
